header{
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 1fr auto;
    grid-template-areas:
    'logo menu callbutton';
    background-image: url(/media/header.jpeg);
    background-size: cover;
    width: 100vw;
    height:20vh;
    #navToggle:checked ~ #hamburgernav{
        display: none;
    }
    #hamicon{
        display: none;
    }
    #navToggle{
        display: none;
    }
    #hamburgernav > a{
        font-size: 1.5rem;
        padding: 15px;
        color:$linen;
    }
    #desktoplinks{
        display: block;
        grid-area: menu;
        font-size: 2.5rem;
        font-family: $bigfont;
        justify-self: left;
        
        a{
            text-decoration: none;
            color:black;
            padding: 10px;
            justify-self: start;
            &:hover {
                font-size: 1.2em;
                text-shadow: 2px 2px $red;
            }
            &:active {
                color: $wine;
            }

        }

    }
    #logo{
        grid-area: logo;
        height: 18vh;

    }
    #callbutton{
        grid-area: callbutton;
        justify-self: end;
        display: inline-block;
        background-color: $green;
        margin-right: 3vw;
        color: linen;
        padding: 1vw;
        font-size: 1.1rem;
        pointer-events: none;
    }
}