header{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: $green ;
    width: 100vw;
    #hamburgernav{
        display: none;
        position: absolute;
        top: 10vh;
        background-color: $green;
        height: 27vh;
        width: 50vw;
        z-index: 2;
    }
    #navToggle:checked ~ #hamburgernav{
        display: block;
    }
    #navToggle{
        display: none;
    }
    #hamburgernav > a{
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 15px;
        color: $linen;
        font-family: $bigfont;
        
    }
    #logo{
        height: 10vh;

    }
    #callbutton{
        display: inline-block;
        background-color: $green;
        border-radius: 8px;
        text-decoration: none;
        color: $linen;
        padding: 1vw;
        font-family: $littlefont;
        font-size: 1.1rem;
        @include borderstyle();    
    }
}