header{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-image: url(https://images.unsplash.com/photo-1616682876554-c843263a28a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    width: 100vw;
    #hamburgernav{
        display: none;
        position: absolute;
        top: 10vh;
        background-color:$wine ;
        height: 17vh;
        width: 50vw;
        z-index: 2;
    }
    #navToggle:checked ~ #hamburgernav{
        display: block;
    }
    #navToggle{
        display: none;
    }
    #hamburgernav > a{
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 15px;
        color: $linen;
        font-family: $bigfont;
        &:active {
            color: $red;
        }
    }
    #desktoplinks{
        display: none;
    }
    #hamicon{
        margin-right: 20vw;
    }
    #logo{
        height: 10vh;
    }
    #callbutton{
        position: fixed;
        left: 70vw;
        top: 1vh;
        display: inline-block;
        background-color: $green;
        border-radius: 8px;
        text-decoration: none;
        color: $linen;
        padding: 1vw;
        font-family: $littlefont;
        font-size: 1.1rem;
        @include borderstyle();
        &:active {
            background-color: $red ;
        }
    }
}