$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;
$littlefont: 'Dosis', sans-serif;
*{
    margin: 0;
    padding: 0;
}
/*border style for images*/ 
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
/*Mobile Media rules here*/
@import "_mobilenav";

main{
    background-color: $linen;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    section{

        h1{
            font-family: $bigfont;
            color: $red;
            font-size: 2rem;
            margin-left: 4vw;
            margin-top: 4vw;
        }
        p{
            font-family:$littlefont;
            color: $wine;
            font-size: 1.2em;
            text-indent: 5vw;
            margin:2vh 6vw 2vh 6vw;
        }
    }
    img{
        display: none;
    }
}
footer{
    font-family: $littlefont;
    background-color: $green;
    a{
        text-decoration: none;
        color: $linen;

    }
}
/*Tablet media rules*/
@media only screen and (min-width:600px){
    header{
        #callbutton{
            pointer-events: none;
        }
    }
    main{
    grid-template-areas:
    'image1 section1'
    'image1 section2'
    'image1 section3';
    grid-template-columns: 50% 50%;
    section{
        h1{
            margin-left: 5vw;
        }
        p{
            margin: 1vh 2vw 1vh 2vw;

        }
        #famsec{
            grid-area: section1;
        }
        #goalsec{
            grid-area: section2;
        }
        #productsec{
            grid-area: section3;
        }
    }
    #tabletimg{
        grid-area: image1;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    }
}
/*Desktop media queries*/
@media only screen and (min-width:1025px){
    main{
        grid-template-areas:
        'image1 section1'
        'section2 image2'
        'image3 section3';
    }
    #tabletimg{
        grid-area: image1;
        
    }
    #pizzaimg{
        grid-area: image2;
        display: block;

    }
    #foodimg{
        grid-area: image3;
        display: block;

    }
    section{
        h1{
            text-align: center;

        }
    }
}