$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;
$littlefont: 'Dosis', sans-serif;
*{
    margin: 0;
    padding: 0;
}
/*border style for images*/ 
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
/*Mobile Media rules here*/ 
nav{
    background-color: $green ;

    #hamburgernav{
        display: none;
        position: absolute;
        top: 70px;
        background-color: $green;
        height: 27vh;
        width: 50vw;
        z-index: 2;
    }
    #hamicon{
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    #navToggle:checked ~ #hamburgernav{
        display: block;
    }
    #navToggle{
        display: none;
    }
    #hamburgernav > a{
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 15px;
        color: $linen;
        font-family: $bigfont;
        
    }
    #logo{
        height: 10vh;
        padding-left: 89px;
    }
    #callbutton{
        position: relative;
        bottom: 15px;
        background-color: $green;
        border-radius: 8px;
        text-decoration: none;
        color: $linen;
        padding: 5px;
        font-family: $littlefont;
        font-size: 1.1rem;
        @include borderstyle();    
    }
}
main{
    background-color: $linen;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 10px;
    h1{
        font-family: $bigfont;
        color: $red;
    }
    p{
        font-family:$littlefont;
        color: $wine;
        font-size: 1.2rem;
    }
}
footer{
    font-family: $littlefont;
    background-color: $green;
    a{
        text-decoration: none;
        color: $linen;

    }
}






