$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;
$littlefont: 'Dosis', sans-serif;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3E9DC;
}
/*border style for images*/ 
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
/*Mobile Media rules here*/ 

@import "_mobilenav";

main{
    display: grid;
    grid-template-rows: repeat(6, 0.2fr);
    text-align: center;
    h1{
        margin-top: 3vh;
        font-family: $bigfont;
        font-size: 3rem;
        color: $wine;
        width: 100vw;
        
    }

    .block{
        width: 100vw;
        span{
            display: inline-block;
            font-size: 2em;
            font-family: $bigfont;
            color: $linen;
            margin-left: 10vw;
            margin-right: 10vw;

        }
        background-color: $wine;
        width: 100vw;
        align-self: center;

    }
}
#mainphoto{
    width: 90vw;
    margin-left:5vw;
    margin-right:5vw;
    @include borderstyle();
    
}
#mainphoto2{
    display: none;
    @include borderstyle();
}
#mainphoto3{
    display: none;
    @include borderstyle();
}
#mainphoto4{
    display: none;
    @include borderstyle();
}
#video{
    display: none;
}
#textone{
    padding-top: 8vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
}
#texttwo{
    padding: 3vw;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
    display: none;
}
#textthree{
    padding: 3vw;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
    display: none;
}
.info{
    font-family: $bigfont;
    color: $wine; 
    justify-content: center;
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
        text-transform: uppercase;
    }
    h4{
        font-family: $bigfont;
        font-size: 1.3em;
        color: $wine;
        text-decoration: underline;
    }
    p{
        font-family: $littlefont;
        color: $wine;
    }
    a{
        color: $green;
        font-size: 1.3em;
    }
}

.address{
    padding-bottom: 3vh;
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
        text-transform: uppercase;

    }
    p{
        font-family: $littlefont;
        color: $wine;
    }
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    text-align:center ;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left:15vw;
    height: 50vh;
    width: 70vw;
    iframe{
        height: 50vh;
        width: 70vw;
    }
    a{
        display: none;
    }
}

footer{
    font-family: $littlefont;
    background-color:$green;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $wine;
    a{
        text-decoration: none;
        color: $linen;
    }
    #phone{
        display: none;
    }
}
/*Tablet media rules*/
@media only screen and (min-width:600px){
    main{
        grid-template-areas:
        'heading heading'
        'mainphoto textone'
        'texttwo mainphoto2'
        'block block'
        'info address'
        'map map';
        grid-template-columns: 50% 50%;
        h1{
            grid-area: heading;
            margin-top: 2vh;
            font-size: 4rem;
            width: 100vw;
        }
        .block{
            grid-area: block;
            span{
                font-size: 3em;
                margin-left: 10vw;
                margin-right: 10vw;
            }
        }
    }
    #mainphoto{
        grid-area: mainphoto;
        width: 98%;
        margin: 0%;
        
    }
    #mainphoto2{
        grid-area: mainphoto2;
        display: block;
        width: 97%;

    }
    #textone{
        grid-area: textone;
        font-size: 2rem;
        display: block;
    }
    #texttwo{
        grid-area: texttwo;
        font-size: 2rem;
        display: block;
        margin: 2vh 5vw;

    }
    .info{
        grid-area: info;
        h3{

            font-size: 2rem;
        }
        h4{
            font-size: 1.5em;
        }
        p{
            font-size: 1.5em;

        }
        a{
            font-size: 1.5em;
        }
    }
    
    .address{
        grid-area: address;
        padding: 0;
        align-self: center;

        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5em;
        }
    }
    .gmap_canvas {
        grid-area: map;
        height: 50vh;
        width: 70vw;
        iframe{
            height: 50vh;
            width: 70vw;
        }
    }
}
/*Desktop media queries*/
@media only screen and (min-width:1025px){
    @import "_desktopnav";
    main{
        grid-template-areas:
        'heading heading heading'
        'mainphoto mainphoto2 mainphoto3'
        'textone texttwo textthree'
        'video video video'
        'block block block'
        'info mainphoto4 address'
        'map map map';
        grid-template-columns: 1fr 1fr 1fr;
    }
    #mainphoto{
        grid-area: mainphoto;
        width: 82%;
        justify-self: end;
        margin-left: 2%;
        margin-right: 2%;
        
    }
    #mainphoto2{
        grid-area: mainphoto2;
        object-fit: cover;
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #mainphoto3{
        display: block;
        grid-area: mainphoto3;
        width: 92%;
        justify-self: start;
        margin-left: 2%;
        margin-right: 2%;

    }
    #mainphoto4{
        grid-area: mainphoto4;
        display: block;
        width: 20vw;
        justify-self: center;
    }
    #textone{
        font-size: 2rem;
        padding: 3vh;
    
    }
    #texttwo{
        font-size: 2rem;
        margin: 0;

    }
    #textthree{
        grid-area: textthree;
        font-size: 2rem;
        display: block ;
    }
    #video{
        grid-area: video;
        display: block;
        width: 80vw ;
        height: 50vh ;
        justify-self: center;
    }
    .gmap_canvas{
        margin-bottom: 3vh;
    }
    footer{
        grid-template-columns: repeat(5, 1fr);
        font-size: 1.3rem;
        a{
            display: none;
        }
        #phone{
            display: block;
        }
}
}



