* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3E9DC;
}

/*border style for images*/
/*Mobile Media rules here*/
header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #069D4A;
  width: 100vw;
}

header #hamburgernav {
  display: none;
  position: absolute;
  top: 10vh;
  background-color: #069D4A;
  height: 27vh;
  width: 50vw;
  z-index: 2;
}

header #navToggle:checked ~ #hamburgernav {
  display: block;
}

header #navToggle {
  display: none;
}

header #hamburgernav > a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 15px;
  color: #F3E9DC;
  font-family: "Cormorant Upright", serif;
}

header #logo {
  height: 10vh;
}

header #callbutton {
  display: inline-block;
  background-color: #069D4A;
  border-radius: 8px;
  text-decoration: none;
  color: #F3E9DC;
  padding: 1vw;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  border-style: solid;
  border-color: #702632;
}

main {
  display: grid;
  grid-template-rows: repeat(6, 0.3fr);
  text-align: center;
}

main h1 {
  padding-top: 5vh;
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
  width: 100vw;
}

main .block {
  width: 100vw;
  background-color: #702632;
  width: 100vw;
  align-self: center;
}

main .block span {
  display: inline-block;
  font-size: 2em;
  font-family: "Cormorant Upright", serif;
  color: #F3E9DC;
  margin-left: 7vw;
}

#mainphoto {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border-style: solid;
  border-color: #702632;
}

#mainphoto2 {
  display: none;
  border-style: solid;
  border-color: #702632;
}

#mainphoto3 {
  display: none;
  border-style: solid;
  border-color: #702632;
}

#video {
  display: none;
  width: "560";
  height: "315";
}

#textone {
  padding: 3vw;
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
}

#texttwo {
  padding: 3vw;
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
  display: none;
}

#textthree {
  padding: 3vw;
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
  display: none;
}

.info {
  font-family: "Cormorant Upright", serif;
  color: #702632;
  justify-content: center;
}

.info h3 {
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
}

.info h4 {
  font-family: "Cormorant Upright", serif;
  font-size: 1.2em;
  color: #702632;
}

.info p {
  font-family: "Dosis", sans-serif;
  color: #702632;
}

.address h3 {
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  color: #702632;
}

.address p {
  font-family: "Dosis", sans-serif;
  color: #702632;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  text-align: center;
  margin-top: 3vh;
  margin-left: 15vw;
  height: 50vh;
  width: 70vw;
}

.gmap_canvas iframe {
  height: 50vh;
  width: 70vw;
}

.gmap_canvas a {
  display: none;
}

footer {
  font-family: "Dosis", sans-serif;
  background-color: #069D4A;
  width: 100vw;
}

footer a {
  text-decoration: none;
  color: #F3E9DC;
}

/*Tablet media rules*/
@media only screen and (min-width: 600px) {
  main {
    grid-template-areas: 'heading heading' 'mainphoto textone' 'texttwo mainphoto2' 'block block' 'info address' 'map map';
    grid-template-columns: 50% 50%;
  }
  main h1 {
    grid-area: heading;
    padding-top: 3vh;
    font-size: 4rem;
    width: 100vw;
  }
  main .block {
    grid-area: block;
  }
  main .block span {
    font-size: 3em;
    margin-left: 9vw;
  }
  #mainphoto {
    grid-area: mainphoto;
    object-fit: cover;
    width: 100%;
    margin: 0%;
  }
  #mainphoto2 {
    grid-area: mainphoto2;
    object-fit: cover;
    display: block;
    width: 48vw;
  }
  #textone {
    grid-area: textone;
    font-size: 2rem;
    display: block;
  }
  #texttwo {
    grid-area: texttwo;
    font-size: 2rem;
    display: block;
    margin: 2vh 5vw;
  }
  .info {
    grid-area: info;
  }
  .info h3 {
    font-size: 2.5rem;
  }
  .info h4 {
    font-size: 1.5em;
  }
  .info p {
    font-size: 1.5em;
  }
  .info a {
    font-size: 1.5em;
  }
  .address {
    grid-area: address;
  }
  .address h3 {
    font-size: 2.5rem;
  }
  .address p {
    font-size: 1.5em;
  }
  .gmap_canvas {
    height: 50vh;
    width: 70vw;
  }
  .gmap_canvas iframe {
    height: 50vh;
    width: 70vw;
  }
}

/*Desktop media queries*/
/*# sourceMappingURL=index.css.map */