$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3E9DC;
}
nav{
    background-color: $green ;
    #hamburgernav{
        display: none;
        position: absolute;
        top: 70px;
        background-color: $green;
        height: 27vh;
        width: 50vw;
        z-index: 2;
    }
    #hamicon{
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    #navToggle:checked ~ #hamburgernav{
        display: block;
    }
    #navToggle{
        display: none;
    }
    #hamburgernav > a{
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 15px;
        color: $linen;
        font-family: $bigfont;
        
    }
    #logo{
        height: 10vh;
        padding-left: 89px;
    }
}
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
main{
    display: grid;
    grid-template-rows: repeat(7, 0.3fr);
    justify-items: center;
    h1{
        padding-top: 15px;
        font-family: $bigfont;
        font-size: 2.5rem;
        color: $wine;
    }
    h2{
        padding: 10px;
        font-family: $bigfont;
        font-size: 2.5rem;
        color: $wine; 
    }
}
.gallary{
    #mainphoto{
        height: 44vh;
        @include borderstyle();
        
    }
    #mainphoto2{
        display: none;
        @include borderstyle();
    }
    #mainphoto3{
        display: none;
        @include borderstyle();
    } 
}
.contactinfo{
    font-family: $bigfont;
    font-size: 1.5rem;
    color: $wine; 
    justify-content: center;
}
.hours{
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
    }
    b{
        font-family: $bigfont;
        color: $wine;
    }
    p{
        font-family: 'Dosis', sans-serif;
        color: $wine;
    }
}
.address{
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
    }
    p{
        font-family: 'Dosis', sans-serif;
        color: $wine;
    }
}
.googlemap{
    position:relative;
    right: 5px;
    padding: 10px;
    text-align:right;
    height:296px;
    width:319px;
    margin-top: 10px;
    margin-bottom: 10px;

    .gmap_canvas {
        overflow:hidden;
        background:none
        !important;height:296px;
        width:325px;
        
    }
}
#callbutton{
    position: relative;
    bottom: 15px;
    background-color: $green;
    border-radius: 8px;
    text-decoration: none;
    color: $linen;
    padding: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    @include borderstyle();    
}
footer{
    font-family: 'Dosis', sans-serif;
    background-color:$green;
    a{
        text-decoration: none;
        color: $linen;
    }
}
