$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;
$littlefont: 'Dosis', sans-serif;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3E9DC;
}
/*border style for images*/ 
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
/*Mobile Media rules here*/ 

@import "_mobilenav";

main{
    display: grid;
    grid-template-rows: repeat(6, 0.3fr);
    text-align: center;
    h1{
        padding-top: 15px;
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
    }

    .block{
        width: 100vw;
        span{
            display: inline-block;
            font-size: 2em;
            font-family: $bigfont;
            color: $linen;
            padding-left: 30px;

        }
        background-color: $wine;
        width: 100vw;
        align-self: center;

    }
}
#mainphoto{
    width: 90vw;
    margin-left:5vw;
    margin-right:5vw;
    @include borderstyle();
    
}
#mainphoto2{
    display: none;
    @include borderstyle();
}
#mainphoto3{
    display: none;
    @include borderstyle();
}
#video{
    display: none;
    width:"560" ;
    height:"315";
}
#textone{
    padding: 10px;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
}
#texttwo{
    padding: 10px;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
    display: none;
}
#textthree{
    padding: 10px;
    font-family: $bigfont;
    font-size: 2rem;
    color: $wine; 
    display: none;
}
.info{
    font-family: $bigfont;
    color: $wine; 
    justify-content: center;
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
    }
    h4{
        font-family: $bigfont;
        font-size: 1.2em;
        color: $wine;
    }
    p{
        font-family: $littlefont;
        color: $wine;
    }
}

.address{
    h3{
        font-family: $bigfont;
        font-size: 2rem;
        color: $wine;
    }
    p{
        font-family: $littlefont;
        color: $wine;
    }
}
.googlemap{
    height:296px;
    width:319px;
    margin: 5vh 15vw 5vh 10vw;

    .gmap_canvas {
        overflow:hidden;
        background:none!important;height:296px;
        width:325px;
        
    }
}

footer{
    font-family: $littlefont;
    background-color:$green;
    width: 100vw;
    a{
        text-decoration: none;
        color: $linen;
    }
}
/*Tablet media rules*/
@media only screen and (min-width:600px){
    nav{
        background-color: $green ;
        #hamburgernav{
            top: 105px;
            height: 23vh;
        }
        #hamicon{
            bottom: 10px;
            height: 80px;
        }
        #hamburgernav > a{
            font-size: 2rem;
        }
        #logo{
            height: 10vh;
            padding-left: 235px;
        }
        #callbutton{
            bottom: 45px;
            left: 140px;
            padding: 10px;
            font-size: 1.3rem;
            pointer-events: none;   
        }
    }
    main{
        grid-template-areas:
        'heading heading'
        'mainphoto textone'
        'texttwo mainphoto2'
        'block block'
        'info address'
        'map map';
        h1{
            grid-area: heading;
            padding-top: 25px;
            font-size: 4rem;
            width: 100vw;
        }
        .block{
            grid-area: block;
            span{
                font-size: 3em;
                padding-left: 40px;
            }
        }
    }
    #mainphoto{
        grid-area: mainphoto;
        height: 30vh;
        
    }
    #mainphoto2{
        grid-area: mainphoto2;
        display: block;
        height: 30vh;
        width: 47vw;

    }
    #textone{
        grid-area: textone;
        padding: 10px;
        font-size: 2rem;
        display: block;
    }
    #texttwo{
        grid-area: texttwo;
        padding: 10px;
        font-size: 2rem;
        display: block;
    }
    .info{
        grid-area: info;
        h3{

            font-size: 2.5rem;
        }
        h4{
            font-size: 1.5em;
        }
        p{
            font-size: 1.5em;

        }
        a{
            font-size: 1.5em;
        }
    }
    
    .address{
        grid-area: address;
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5em;
        }
    }
    .googlemap{
        grid-area: map;
        position:relative;
        left: 30px;
        padding: 10px;
        text-align:right;
        height:296px;
        width:319px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height:296px;
            width:325px;
            
        }
    }

}