* {
  margin: 0;
  padding: 0;
}

/*border style for images*/
main {
  background-color: #F3E9DC;
}

/*Mobile Media rules here*/
header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #069D4A;
  width: 100vw;
}

header #hamburgernav {
  display: none;
  position: absolute;
  top: 10vh;
  background-color: #069D4A;
  height: 17vh;
  width: 50vw;
  z-index: 2;
}

header #navToggle:checked ~ #hamburgernav {
  display: block;
}

header #navToggle {
  display: none;
}

header #hamburgernav > a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 15px;
  color: #F3E9DC;
  font-family: "Cormorant Upright", serif;
}

header #desktoplinks {
  display: none;
}

header #hamicon {
  margin-right: 20vw;
}

header #logo {
  height: 10vh;
}

header #callbutton {
  display: inline-block;
  background-color: #069D4A;
  border-radius: 8px;
  text-decoration: none;
  color: #F3E9DC;
  padding: 1vw;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  border-style: solid;
  border-color: #702632;
}

#pizzaimage {
  font-family: "Cormorant Upright", serif;
  color: #702632;
  font-size: 1.5rem;
  text-align: center;
}

#pizzaimage img {
  display: none;
}

#menuNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Cormorant Upright", serif;
  background-color: #702632;
  font-size: 2rem;
}

#menuNav a {
  color: #F3E9DC;
}

.headingblock {
  font-family: "Cormorant Upright", serif;
  text-shadow: 4px 4px 8px #AE1C09;
  color: #069D4A;
  font-size: 2.5rem;
}

.largecontainer {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.smallcontainer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.itemDescription h4 {
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
  color: #AE1C09;
}

.itemDescription p {
  font-family: "Dosis", sans-serif;
  padding: 8px;
  color: #702632;
}

#topbutton {
  color: #069D4A;
  font-family: "Dosis", sans-serif;
  font-size: 1.2em;
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  border-style: groove;
  border-radius: 8px;
  padding: 2px;
}

footer {
  font-family: "Dosis", sans-serif;
  background-color: #069D4A;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #702632;
}

footer a {
  text-decoration: none;
  color: #F3E9DC;
  background-color: #069D4A;
}

footer #phone {
  display: none;
}

/*Tablet media rules*/
@media only screen and (min-width: 600px) {
  header #callbutton {
    pointer-events: none;
  }
  #pizzaimage h1 {
    font-size: 3em;
    text-align: center;
  }
  #menuNav {
    font-size: 2.5em;
  }
  #menuNav a {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  #menuNav .headingblock {
    font-family: "Cormorant Upright", serif;
    color: #069D4A;
    font-size: 2.5rem;
  }
  .largecontainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
  }
  .smallcontainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
  #topbutton {
    font-size: 1.5em;
    bottom: 8vh;
    right: 10vw;
  }
}

/*Desktop media rules*/
@media only screen and (min-width: 1025px) {
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-areas: 'logo menu callbutton';
    background-color: #069D4A;
    background-size: cover;
    width: 100vw;
    height: 20vh;
  }
  header #navToggle:checked ~ #hamburgernav {
    display: none;
  }
  header #hamicon {
    display: none;
  }
  header #navToggle {
    display: none;
  }
  header #hamburgernav > a {
    font-size: 1.5rem;
    padding: 15px;
    color: #F3E9DC;
  }
  header #desktoplinks {
    display: block;
    grid-area: menu;
    font-size: 2.5rem;
    color: #F3E9DC;
    font-family: "Cormorant Upright", serif;
  }
  header #desktoplinks a {
    text-decoration: none;
    color: #F3E9DC;
    padding: 10px;
  }
  header #logo {
    grid-area: logo;
    height: 18vh;
  }
  header #callbutton {
    grid-area: callbutton;
    justify-self: end;
    display: inline-block;
    background-color: #069D4A;
    margin-right: 3vw;
    color: linen;
    padding: 1vw;
    font-size: 1.1rem;
    pointer-events: none;
  }
  #pizzaimage h1 {
    font-family: "Cormorant Upright", serif;
    color: white;
    text-shadow: 4px 4px 8px #069D4A;
    font-size: 8rem;
    text-transform: uppercase;
    position: absolute;
    left: 36vw;
    top: 34vh;
  }
  #pizzaimage img {
    display: block;
    width: 100%;
    height: 40vh;
  }
  .headingblock {
    font-family: "Cormorant Upright", serif;
    color: #069D4A;
    font-size: 4rem;
  }
  .itemDescription h4 {
    font-family: "Cormorant Upright", serif;
    font-size: 2rem;
  }
  .itemDescription p {
    font-family: "Dosis", sans-serif;
    padding: 8px;
    font-size: 1.6em;
  }
  #topbutton {
    font-size: 1.5em;
    bottom: 11vh;
    right: 10vw;
  }
  footer {
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.3rem;
  }
  footer a {
    display: none;
  }
  footer #phone {
    display: block;
  }
}
/*# sourceMappingURL=menu.css.map */