$wine: #702632;
$green: #069D4A;
$red: #AE1C09;
$linen: #F3E9DC;
$bigfont:'Cormorant Upright', serif;
$littlefont: 'Dosis', sans-serif;
*{
    margin: 0;
    padding: 0;
}
@mixin borderstyle {
    border-style: solid;
    border-color: $wine;
}
/*border style for images*/ 
main{
    background-color: $linen;
}
/*Mobile Media rules here*/ 

@import "_mobilenav";

h1{
    font-family: $bigfont;
    color: $wine;
    font-size: 2.5rem;
    text-align: center;
}
#menuNav{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    font-family: $bigfont;
    background-color: $wine;
    font-size: 2rem;
    a{
        color: $linen;
    }
}
.headingblock{
    a{
    font-family: $bigfont;
    color: $red;
    font-size: 2.5rem;
    }
}
.largecontainer{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}
.smallcontainer{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.itemDescription{
    h4{
        font-family: $bigfont;
        font-size: 1.5rem;
    }
    p{
        font-family: $littlefont;
        padding: 8px;
    }
}
#topbutton{
    color: $red;
    font-family: $littlefont;
    font-size: 1.2em;
}
footer{
    font-family: $littlefont;
    background-color: $green;
    a{
        text-decoration: none;
        color: $linen;
        background-color: $green;

    }
}
/*Tablet media rules*/
@media only screen and(min-width:768px){
    nav{
        background-color: $green ;
        #hamburgernav{
            top: 105px;
            height: 23vh;
        }
        #hamicon{
            bottom: 10px;
            height: 80px;
        }
        #hamburgernav > a{
            font-size: 2rem;
        }
        #logo{
            height: 10vh;
            padding-left: 235px;
        }
        #callbutton{
            bottom: 45px;
            left: 140px;
            padding: 10px;
            font-size: 1.3rem;
            pointer-events: none;   
        }
    }
    h1{
        font-size: 4em;
        text-align: center;
    }
    #menuNav{
        font-size: 2.5em;
        a{
            padding-left: 65px;
        }
    }
    .largecontainer{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-template-rows: repeat(4, 1fr);
    }
    .smallcontainer{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-template-rows: repeat(2, 1fr);
    }
}